
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.dark-theme {
  background-color: @primary-background-color-dark;
  color: @primary-text-color-dark;

  .primary-text-color {
    color: @primary-text-color-dark;
  }
}

.light-theme {
  background-color: @primary-background-color-light;
  color: @primary-text-color-light;

  .primary-text-color {
    color: @primary-text-color-light;
  }
}
