@import "../fonts/iconfont.css";

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-ai-center {
  align-items: center;
}

.flex-ai-fe {
  align-items: flex-end;
}

.flex-jc-center {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-fe {
  justify-content: flex-end;
}

.dark-theme {
  background-color: @default-background-color-dark;
  color: @primary-text-color-dark;

  .primary-text-color {
    color: @primary-text-color-dark;
  }

  .default-background-color {
    background-color: @default-background-color-dark;
  }
}

.light-theme {
  background-color: @default-background-color-light;
  color: @primary-text-color-light;

  .primary-text-color {
    color: @primary-text-color-light;
  }

  .default-background-color {
    background-color: @default-background-color-light;
  }
}
