/**
 * @description 主题颜色
 */
@default-color-light: #242424;
@default-color-dark: #ffffff;
@default-border-color-light: #7a7574;
@default-background-color-light: #fafafa;
@default-background-color-dark: #1f1f1f;
@default-border-color-dark: #afabaa;

@primary-color-light: #479ef5;
@primary-color-dark: #0f6cbd;
@primary-background-color-light: #0f6cbd;
@primary-background-color-dark: #115ea3;

@danger-color-light: #751d1f;
@danger-background-color-light: #f1bbbc;
@danger-border-color-light: #d13438;
@danger-color-dark: #f1bbbc;
@danger-background-color-dark: #751d1f;
@danger-border-color-dark: #e37d80;

@success-color-light: #094509;
@success-background-color-light: #9fd89f;
@success-border-color-light: #107c10;
@success-color-dark: #9fd89f;
@success-background-color-dark: #094509;
@success-border-color-dark: #9fd89f;

@warning-color-light: #817400;
@warning-background-color-light: #fef7b2;
@warning-border-color-light: #fde300;
@warning-color-light: #fef7b2;
@warning-background-color-dark: #817400;
@warning-border-color-dark: #fdea3d;


/**
 * @description 字体颜色
 */
@primary-text-color-dark: #ffffff;
@secondary-text-color-dark: #e6e6e6;
@success-text-color-dark: #ffffff;
@warning-text-color-dark: #ffffff;
@danger-text-color-dark: #ffffff;

@primary-text-color-light: #292929;
@secondary-text-color-light: #3d3d3d;
@success-text-color-light: #000000;
@warning-text-color-light: #000000;
@danger-text-color-light: #000000;

/**
 * @description 边框颜色
 */
@primary-border-color-dark: #ffffff;
@primary-border-color-light: #000000;
